<div
	[formGroup]="group">
	<label>{{ config.label }}</label>
	<select [formControlName]="config.name">
		<option value="">{{ config.placeholder }}</option>
		<option *ngFor="let option of config.options">
			{{ option }}
		</option>
	</select>
</div>
