div {
	margin: 20px 0;
}

select  {
	border: 1px solid white;
	height: 50px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20px;
	border-radius: 0;
	background: #fff;
	font-size: 16px;
	font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

select:focus{
	outline: none;
}

div {
	display: flex;
	flex-direction: column;
}

label {
	text-align: left;
}
