<form
	class="dynamic-form"
	[formGroup]="form"
>
	<ng-container
		*ngFor="let field of config;"
		ptDynamicField
		[config]="field"
		[group]="form">
	</ng-container>
	<ng-content></ng-content>
</form>
