<div [formGroup]="group">
	<!--<mat-radio-group  	[formControlName]="config.name" >
		<mat-radio-button *ngFor="let option of config.options" value="option">{{option}}</mat-radio-button>
	</mat-radio-group>
-->

	<label [formControlName]="config.name">
		<input type="radio"  *ngFor="let option of config.options" value="option">
		{{option}}
	</label>
</div>
