<div
	[formGroup]="group">
	<label>{{ config.label }}</label>
	<input
		type="text"
		[attr.placeholder]="config.placeholder"
		[formControlName]="config.name"
	/>
	<ng-container *ngFor="let validation of config.validations;">
		<p *ngIf="group.get(config.name).hasError(validation.name) && group.get(config.name).touched"
		   [@error]
		   class="error-message">
			{{validation.message}}
		</p>
	</ng-container>
</div>

