div {
	margin: 20px 0;
}

input{
	border: 1px solid white;
	height: 50px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input:focus{
	outline: none;
}

div {
	display: flex;
	flex-direction: column;
}

label {
	text-align: left;
}

.error-message {
	color: mediumpurple;
	font-size: 15px;
}
